.pricing h2 ,
.pricing span
                {
                    display: block !important;
        color: #fff;
        text-align: center;
}
.pricing span {
    font-weight: bold;
}


.pricing .card {
    background-color: #1f3624 !important;
    color: #fff;
    box-shadow: 7px 7px 5px 2px rgba(31,54,36,0.5);
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;

}
.pricing .card:hover {
    transform: translateX(-10px);
}

.pricing .notes {
    background-color: #1f3624;
    box-shadow: 7px 7px 5px 2px rgba(31,54,36,0.5);
    padding: 10px;
    color: #fff;
    transition: 0.5s;
}

.pricing .notes:hover {
transform: translateY(-10px);
}
.pricing .comments textarea {
    background-color: #1f3624 !important;
    color: #fff !important;
    padding: 10px !important;
    border: 2px solid black;
    height: 10rem;
}

.pricing .comments textarea:focus {
     box-shadow: 0 0 0 0.25rem rgba(31, 54, 36,0.5);
     border: none;
}
.pricing .comments textarea::placeholder {
    color: #fff;
    opacity: 0.5;
}

.pricing .testimonials .comment {
    background-color: #1f3624;
    border: 2px solid #A4D0A4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 7px 7px 5px 2px rgba(31,54,36,0.5);
    transition: 1s;
}
.pricing .testimonials .comment:hover {
    transform: translateY(-10px);
}